body {
  font-size: 24px;
  margin-left: 35%;
  margin-top: 5%;
}

.btn {
  padding: 0.45rem;
  font-size: 18px;
  margin: 10px;
}

.input[type="text"]:disabled {
  background: #dddddd;
}

.btn-start {
  background: lightgreen;
  color: white;
  border: 1px solid lightgreen;
}

.btn-speed {
  border: 1px solid #444;
  color: black;
  padding: 0.75rem 1.5rem;
  background: white;
}

.speed:active {
  color: #444;
}

.timer {
  font-size: 128px;
  display: inline-block;
  margin-left: 100px;
}

.btn-speed:focus {
  background: #444;
  color: white;
}

.blink {
  animation: blinker 1s linear infinite;
}

.red {
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.top {
  margin-left: 35px;
}

.displayMessage {
  margin-left: 10%;
}

.btn-row {
  margin-left: 2%;
}
